{% extends "learning.html" %}

{% block title %} HTML Form input {% endblock %}

{% block menu %}
      <ul class="ul">
     <li><a href="/code/html">HTML basic</a></li>
     <li><a href="/code/html/attribute">HTML Attribute</a></li>
     <li><a href="/code/html/element">HTML Element</a></li>
     <li><a href="/code/html/formatting">HTML Formatting</a></li>
     <li><a href="/code/html/heading">HTML Heading</a></li>
     <li><a href="/code/html/paragraph">HTML Paragraph</a></li>
     <li><a href="/code/html/phrase">HTML Phrase tag</a></li>
     <li><a href=/code/html/anchor">HTML Anchor</a></li>
     <li><a href="/code/html/image">HTML Image</a></li>
     <li><a href="/code/html/list">HTML List</a></li>
     <li><a href="/code/html/order">HTML Order</a></li>
     <li><a href="/code/html/unorder">HTML Unorder</a></li>
     <li><a href="/code/html/list-describtion">HTML Describtion List</a></li>
     <li><a href="/code/html/form">HTML form</a></li>
     <li><a href="/code/html/form">HTML form</a></li>
     <li><a href="#">HTML Form input type</a></li>
     <li><a href="#">HTML Form Attribbute</a></li>
     <li><a href="#">HTML Class</a></li>
     <li><a href="#">HTML ID Attribute</a></li>
     <li><a href="#">HTML Iframe</a></li>
     <li><a href="#">HTML JavaScript</a></li>
     <li><a href="#">HTML Comment</a></li>
     <li><a href="#">HTML File Path</a></li>
     <li><a href="#">HTML Head</a></li>
     <li><a href="#">HTML Layout</a></li>
     <li><a href="#">HTML Layout Technique</a></li>
     <li><a href="#">HTML Response</a></li>
     <li><a href="#">HTML Response</a></li>
     <li><a href="#">HTML Computer Code</a></li>
     <li><a href="#">HTML Entitie</a></li>
     <li><a href="#">HTML Symbol</a></li>
     <li><a href="#">HTML Charset</a></li>
     <li><a href="#">HTML URL Encode</a></li>
     <hr>
     <h3>Learn New skills</h3>
     <li><a href="#">Learn Python</a></li>
     <li><a href="#">Learn js</a></li>
     <li><a href="#">CSS</a></li>
   </ul>
{% endblock %}

{% block content %}
<div class="mt-5 container-fluid">
  <h2 class="mt-5">HTML Form Input type</h2>
</div>
{% endblock %}